* {
    box-sizing: border-box;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
    padding-top: 30px;
}

.title {
    text-transform: uppercase;
    color: gray;
}

.studies > * > figure,
.languages > * > figure,
.hobbies > * > figure {
    width: 100%;
    text-align: center;
}
.studies > * > figure > * > h5,
.languages > * > figure > * > h5,
.hobbies > * > figure > * > h5 {
    font-size: 0.85rem;
    font-weight: bold;
}

.studies > * > figure > * > p,
.languages > * > figure > * > p,
.hobbies > * > figure > * > p {
    font-size: 0.85rem;
    padding: 0;
    margin: 0;
    letter-spacing: -1px;
}

footer {
    width: 100%;
    height: 100px;
}
footer > .timestamp {
    float: right;
}
